/* WEB FONT */

@font-face{
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/*BASE STYLES */

* {
  box-sizing: border-box;
}

body{
  color:#878787;
  margin:0;
  font: 1em/1.5 Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family:'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-size : 5.625rem;
  text-transform:uppercase;
  font-weight:normal;
  line-height:1.3em;
  text-shadow:1px 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

h2 {
  font-size: 3.3125rem;
  font-weight:normal;
  margin-bottom:.5em;
}

h3 {
  font-size: 20px;
  color: #48525c;
  margin-bottom:1.7em;
}

img {
  max-width:100%;
  margin-bottom:20px;
  border-radius:10px;
}

ol,
ul {
  list-style-position:inside;
  padding-left:0;
  margin:30px 0;
}

li {
  margin-bottom:10px;
}

/*ID SELECTORS*/

#main-footer{
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #ffa949;
}

/*CLASS SELECTORS */

.main-header {
  padding-top:170px;
  height:850px;
  color:white;
  background: linear-gradient(#ffa949, transparent 90%),
              linear-gradient(0deg, white, transparent),
              #ffa949 url('../img/mountains.jpg') no-repeat center / cover;
}

.title{
  font-size:1.625rem; /*26px /16px */
  letter-spacing:0.065em;
  font-weight:200;
  border-bottom:2px solid;
  padding-bottom:10px;
}

.intro{
  font-size:1.25em;
  line-height:1.6;
  color:initial;
}

.primary-content,
.main-header {
  text-align: center;
}

.t-border{
  border-top:solid 2px lightgrey;
}

/*PSEUDO CLASSES */

a:link{
  color:rgba(255, 169, 73);
  text-decoration:none;
}

a:visited{
  color:lightblue;
}

a:hover{
  color:forestgreen;
}

a:active {
  color:lightcoral;
}

a:focus {
  color:white;
  background-color: orange;
}

/*---- LAYOUT STYLES -----*/

.primary-content,
.secondary-content {
  width:75%;
  padding-left:50px;
  padding-right:50px;
  margin:auto;
}

.callout{
  font-size:1.25em;
  border-bottom:3px solid;
  padding:0 9px 3px 0;
  margin-top:20px;
  display:inline-block;
  max-width:900px;
}

.wildlife{
  color:white;
  background-color:#434a52;
  border-top:10px solid #ffa949;
  padding: 18% 24%;
  margin:160px 0 160px 0;
  background : #435a52 url('../img/bear.jpg') no-repeat center;
  background-size:cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, 1);
  border-radius:10px;
}

.arrow {
  width: 50px;
  margin-top:150px;
}

/* ---- FLOATED COLUMNS ----- */

.resorts,
.tips {
  width:46.5%;
}

.tips{
  float:left;
}

.resorts{
  float:right;
}

/* ---- FLOAT CLEAR FIX --- */

.group:after{
  content:"";
  display:table;
  clear:both;
}


/* ---- MEDIA QUERIES ---- */

@media (max-width: 1024px) {
  .primary-content,
  .secondary-content{
    width:90%;
  }
}

@media (max-width: 768px) {
  .primary-content,
  .secondary-content{
    width:100%;
    padding:20px;
    border:none;
  }
}
